/********************
* 
* 
*  By: 		Author
*  Date: 	Date
*  File: 	Theme override CSS 
*  
*  
*******************/




/********************

Global Branding
*******************/

	/*	Primary Color
		default: #0096db*/


	/*	Primary Button
		default: #0096db*/


	/*	Primary Button Text
		default: #ffffff*/


	/*	Secondary Button
		default: #333333*/


	/*	Secondary Button Text
		default: #ffffff*/


	/*	Link
		default: #0081bd*/




/********************

Global Navigation
*******************/


	/*	Nav Background
		default: #34444f*/


	/*	Nav Icon
		default: #ffffff*/


	/*	Nav Icon Active
		default: #0096db*/


	/*	Nav Text
		default: #ffffff*/


	/*	Nav Text Active
		default: #0081bd*/


	/*	Nav Avatar Border
		default: #ffffff*/


	/*	Nav Badge
		default: #0096db*/


	/*	Nav Logo Background
		default: #34444f*/


	/*Nav Logo
	Accepted formats: svg, png, jpg, gif*/




/********************

Watermarks & Other Images
*******************/



/********************

Logon Screen
*******************/






